.medi-logo{
    width: auto;
    height: 300px;
    margin-left: 40px;
}
.auth-div-1{
    display: flex;
}
.auth-label{
    font-weight: bold;
    /* margin-left: 5px; */
    margin-bottom: 2px;
    font-size: 15px;
}
.auth-input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 15px;
    width: 100%;
    box-shadow: 0px 3px 10px 0px gray;
}
.auth-main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.auth-left-margin{
    margin-left: 20px;
}
.auth-divs{
    margin: 18px 0px;
}
.auth-btn{
    color: black;
    background-color: #1ed760;
    padding: 8px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
}

.auth-btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.auth-heading{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.auth-label1{
    color: red;
    text-align: center;
}