.profile-main-div1{
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}
.profile-user-logo{
    font-size: 100px;
    color: #606060;
}
.profile-main-div1-inner{
    margin-top: 10px;
    margin-left: 15px;
}
.profile-name-label{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.user-name-label{
    font-size: 14px;
    margin-left: 15px;
    font-weight: bold;
    background-color: #24ed6b;
    padding: 6px 10px;
    border-radius: 10px;
}
.profile-edit-icon{
    font-size: 22px;
    cursor: pointer;
}
.profile-edit-icon1{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.follower-following-div{
    display: flex;
    align-items: center;
}
.profile-bold-div{
    font-weight: bold;
    color: #2b40ff;
}
.following-div-1{
    margin-left: 15px;
}
.line-div{
    background-color: #2b40ff;
    height: 3px;
    margin: 0px 40px;
    margin-top: 5px;
    border-radius: 10px;
}
.error-msg-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.edit-profile-main-div1{
    width: 400px;
}
.edit-profile-main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.profile-section-divs1{
    margin-top: 25px;
}

.profile-section-heading-label{
    font-size: 19px;
    font-weight: bold;
    margin-left: 40px;
}

.profile-section-add-btn-div1{
    margin-left: 30px;
    margin-top: 20px;
}

.profile-page-card-div1{
    border: 2px solid black;
    padding: 10px 15px;
    width: 700px;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 10px;
}
.profile-page-card-bold-label{
    font-weight: bold;
}
.profile-page-card-years-div1{
    display: flex;
    align-items: center;
}

.profile-page-card-image-1{
    width: auto;
    height: 100px;
}
.profile-page-card-div2{
    display: flex;
}
.profile-page-card-desc-1{
    margin-left: 20px;
}


.profile-page-card-image-3{
    width: auto;
    height: 250px;
}
.profile-page-card-div3{
    display: block;
}
.profile-page-card-desc-2{
    margin-left: 0px;
}