.feed-main-div{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 10px;
}

.ads-banner{
    background-color: #cbcbcb;
    padding: 50px 40px;
    margin: 10px 0px;
    border-radius: 5px;
}
.create-post-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.feed-left-div{
    width: 100%;
}

.feed-btn{
    color: black;
    background-color: #1ed760;
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.create-post-div1{
    width: 500px;
}

.create-post-main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.feed-main-cards-div{
    margin-top: 20px;
}

.feed-page-like-icon-1{
    font-size: 22px;
}

.profile-page-card-more-1{
    margin-top: 8px;
}